:root {
  --clr-icons: #929292;
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
}

*,*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 1em;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  font-family: sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: var(--clr-text);
  cursor: pointer;
  font-size: 1.125rem;
}

.btn::after {
  content: '';
  position: absolute;
  width: 70%;
  height: .85em;
  left: 0;
  top: 50%;
  z-index: -1;
  background-color: var(--clr-accent);
  transform-origin: left bottom;
  transition: transform 175ms cubic-bezier(0.86, 0.02, 0.66, 1.52);
}

.btn:hover::after,
.btn:focus::after {
  transform: scale(1.45, 2);
}

.title {
  margin: 0;
  font-size: clamp(3rem, 10vw, 7rem);
  line-height: 1.1;
  color: var(--clr-accent);
  text-transform: uppercase;
}

.location {
  margin: 0;
  margin-bottom: 2em;
  font-size: 1.5rem;
  color: var(--clr-icons);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  color: var(--clr-text);
  text-decoration: none;
  text-transform: capitalize;
  transition: color 300ms ease;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--clr-accent);
}

.menu-btn {
  background: transparent;
  border: 2px solid var(--clr-accent, #000);
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}


.menu-btn .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.menu-btn[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.menu-btn[aria-expanded="true"] :is(.top, .bottom) {
  y: 14;
}

.menu-btn[aria-expanded="true"] .top {
  rotate: 45deg;
}

.menu-btn[aria-expanded="true"] .middle {
  opacity: 0;
}

.menu-btn[aria-expanded="true"] .bottom {
  rotate: -45deg;
}


.secondary-imgs {
  display: flex;
  gap: .5rem;
}

.secondary-imgs > * {
  width: 50%;
}


footer {
  margin-top: 2em;
}

.social-list {
  display: flex;
  gap: 2rem;
}

.social-link {
  transition: opacity 300ms ease;
}

.social-link:hover,
.social-link:focus {
  opacity: .5;
}


@media (max-width: 35em) {
  .nav {
    position: fixed;
    inset: 0;
    transform: translateX(100%);
    background-color: rgb(0 0 0 / .75);
    backdrop-filter: blur(1rem);
    z-index: 10;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav__list {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: var(--clr-bg-light);
    flex-direction: column;
    padding: 12rem 2rem;
    transition: 400ms ease;
  }

  .nav.active .nav__list {
    right: 0;
  }

  .nav__link {
    font-size: 1.5rem;
  }
}

@media (min-width: 35em) {
  .menu-btn {
    display: none;
  }
}